@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-hidden {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
    }
  }

.infinite-scroll-component {
    overflow: hidden !important;
}

.revert-tailwind {
    all: unset !important;
    /* font-size: initial !important; */
}

.bg-image-scroll:hover{
    transition-duration: 5s;
}
.bg-image-scroll{
    transition-duration: 2s;
}

.ant-modal-content {
  background-color: #CBD5E1 !important;
}
.ant-modal-header {
  background-color: #CBD5E1 !important;
}